If:
  PathMatch:
    [ .*\.cpp, .*\.hpp, .*\.ipp, .*\.tpp, .*\.txx, .*\.ixx, .*\.tcc, .*\.cc, .*\.cxx, .*\.cppm ]

InlayHints:
  Enabled: No
Diagnostics:
  UnusedIncludes: None
  ClangTidy:
    Add:
      [ bugprone-*, cert-*, modernize-*, performance-*, cppcoreguidelines-*, clang-analyzer-*, misc-*, readability-*, portability-*]
    Remove:
      [ bugprone-easily-swappable-parameters, cppcoreguidelines-avoid-magic-numbers, readability-magic-numbers]
CompileFlags:
  Add: [-std=c++23, -ffreestanding, -nostdlib, -fno-builtin, -fno-rtti, -fno-exceptions, -Iinclude]
