If:
  PathMatch:
    [ .*\.cpp, .*\.hpp, .*\.ipp, .*\.tpp, .*\.txx, .*\.ixx, .*\.tcc, .*\.cc, .*\.cxx ]

InlayHints:
  Enabled: No
Diagnostics:
  UnusedIncludes: None
  ClangTidy:
    Add:
      [ bugprone-*, cert-*, modernize-*, performance-*, cppcoreguidelines-*, clang-analyzer-*, misc-*, readability-*, portability-*]
    Remove:
      [cppcoreguidelines-avoid-magic-numbers, readability-magic-numbers]
CompileFlags:
  Add: [-std=c++23, -I./include/]
